.profile-main-container {
    margin: auto;
    margin-top: 20px;
    width: 95%;
    height: min-content;
    display: flex;
    
}

.profilepic-name-container {
    height: 500px;
    min-width: 410px;
    margin-right: 10px;
}

.profile-tab-container {
    width: 100%;
    height: 100%;
}

.profilepic-container {
    width: 95%;
    margin: auto;
    text-align: center;
}

.profilename-container {
    padding-left: 10px;
    margin-top: 10px;
    width: 95%;
}

.profiledesc-container {
    padding-left: 10px;
    margin-top: 5px;
    width: 95%;
}

.to-watch-list {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    height: 80px;
    overflow: auto;
    display: flex;
}

.to-watch-title {
    width: 500px;
    vertical-align: middle;
    line-height: 75px;
    overflow: auto;
}

.to-watch-list-to-watch-btn{
    width: 400px;
    vertical-align: middle;
    line-height: 75px;
}

.list-movie-item-img {
    margin-right: 10px;
}

.tab-overview {
    padding-top: 10px;
}

.tab-followers {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    height: 80px;
}

.user-profile-img {
    margin-right: 10px;
}